/*

    Piiksuma Global stylesheet.


    Defines common styling for the app

*/


/* GLOBAL CSS "VARIABLES" */
* {
    /* Colors */

    -primary-color-1: #7F22FD;
    -primary-color-2: #F2E7FE;
    -primary-color-3: #D7B7FD;
    -primary-color-4: #190078;
    -primary-color-5: #391072;

    -secondary-color-1: #00A6A6;
    -secondary-color-2: #86FFEA;
    -secondary-color-3: #4FFEE4;
    -secondary-color-4: #002F33;

    -piik-black: #211A1D;
    -piik-dark-pink: #EA526F;
    -piik-isabelline: #F6E8EA;


    -white-high-emphasis: rgba(255, 255, 255, 1.00);
    -white-medium-emphasis: rgba(255, 255, 255, 0.70);
    -white-disabled: rgba(255, 255, 255, 0.50);
    -white-inactive: rgba(255, 255, 255, 0.54);

    -black-high-emphasis: rgba(0, 0, 0, 0.80);
    -black-medium-emphasis: rgba(0, 0, 0, 0.60);
    -black-disabled: rgba(0, 0, 0, 0.38);
    -black-inactive: rgba(0, 0, 0, 0.54);

    -color-surface-post: #FAFAFA;
    -color-surface-app-ui: #ebebeb;

    -color-surface-snackbar: #202020;
    -color-error: #FF0C3E;
}

/*
640
360
*/


/* Decorator */
.jfx-decorator {
    -fx-decorator-color: -primary-color-5;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}


/* Tabs */


.tab {
    -fx-background-color: -primary-color-5;
    -fx-text-fill: -white-high-emphasis;
    -fx-color-label-visible: -white-high-emphasis;
    -fx-cursor: hand;

    -fx-pref-height: 50;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;

    -fx-pref-width: 108;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
}

.tab-header-background {
    -fx-background-color: -primary-color-5;
}

.jfx-tab-pane .headers-region .tab-selected-line {
    -fx-background-color: -white-high-emphasis;
}

.jfx-tab-pane .headers-region .tab:selected .tab-container .tab-label {
    -fx-text-fill: -white-high-emphasis;
}


.jfx-tab-pane .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: -white-medium-emphasis;
}

.jfx-tab-pane .headers-region .tab .tab-container .tab-label {
}


/* Toolbar */

.top-toolbar {
    -fx-pref-height: 50;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-background-color: -primary-color-5;
}

.bottom-toolbar {
    -fx-pref-height: 20;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-background-color: -primary-color-5;
}


/* Buttons */

.classic-button {
    -fx-text-fill: -white-high-emphasis;
}

.jfx-button-border {
    -fx-text-fill: -white-high-emphasis;
    -fx-background-color: -primary-color-5;
    -fx-cursor: hand;
}


.deck-button {
    -fx-background-color: -primary-color-5;
    -jfx-button-type: RAISED;
    -fx-text-fill: -white-high-emphasis;
    -fx-background-radius: 70;
    -fx-pref-width: 70;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-pref-height: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-cursor: hand;
}

.deck-button-graphic {
    -fx-scale-x: 1.65;
    -fx-scale-y: -fx-scale-x;
    -fx-fill: -white-high-emphasis;
}

.hamburguer-button {
    -fx-cursor: hand;
}

.rippler-hamburguer {
    -jfx-rippler-fill: -black-medium-emphasis;
}


/* Deck */
.deck-container {
    -fx-background-color: -white-high-emphasis;
    -fx-pref-height: 65;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-border-color: -color-surface-app-ui;
}

.deck-hitbox {
    -fx-pref-height: 105;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
}

.deck-small-button {
    -fx-cursor: hand;
    -fx-background-radius: 30;
    -fx-pref-width: 30;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-pref-height: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
}

.deck-small-button-container {
    -fx-padding: 20 10 20 10;
}

.hamburguer-space {
    -fx-padding: 0 10 0 10;
}

.deck-small-button-graphic {
    -fx-fill: -black-medium-emphasis;
    -fx-scale-x: 0.8;
    -fx-scale-y: -fx-scale-x;
}

/* TextFields and TextAreas*/

.fx-text-field{
    -fx-background-color: #d7d7d7;
}


/* Post cards */

.post-container {
    -fx-pref-width: 430;
    /*-fx-pref-height: 100;*/
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-background-color: -white-high-emphasis;
    -fx-effect: dropshadow(gaussian, #515151, 20, 0.01, 0, 3);
    -fx-padding: 20 20 20 20;
    -fx-alignment: CENTER;
}

.post-text {
    -fx-padding: 10 10 10 10;
    /*-fx-background-color: #cacacaca;*/
}

.event-container {
    -fx-pref-width: 430;
    /*-fx-pref-height: 100;*/
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-background-color: -white-high-emphasis;
    -fx-padding: 20 20 20 20;
    -fx-alignment: CENTER;
}


.profile-pic {
    -fx-background-radius: 80;
    -fx-border-radius: 40;
    -fx-pref-width: 40;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-pref-height: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-cursor: hand;
    /*-fx-background-color: #cacaca;*/
    -fx-background-image: url('/imagenes/huevo.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40 40;
}

.post-like {
    -fx-text-fill: #FF0000;
}
/* Alerts */
.accept-dialog-button {
    -fx-text-fill: #1B1B1E;
    -fx-font-weight: BOLD;
    -fx-padding: 0.7em 0.8em;
    -fx-cursor: hand;
}


.alert-title {
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.alert-text {
    -fx-font-size: 15;
}