/*

    Piiksuma Global stylesheet.


    Defines common styling for the app

*/


/* GLOBAL CSS "VARIABLES" */
* {
    /* Colors */

    -primary-color-1: #7F22FD;
    -primary-color-2: #F2E7FE;
    -primary-color-3: #D7B7FD;
    -primary-color-4: #190078;
    -primary-color-5: #391072;

    -secondary-color-1: #00A6A6;
    -secondary-color-2: #86FFEA;
    -secondary-color-3: #4FFEE4;
    -secondary-color-4: #002F33;

    -piik-black: #211A1D;
    -piik-dark-pink: #EA526F;
    -piik-isabelline: #F6E8EA;
    -piik-pastel-yellow: #FFFD82;
    -piik-pastel-green: #7DDF64;
    -piik-light-green: #9CE37D;
    -piik-yellow-mustard: #FFC857;
    -piik-blue-green: #119DA4;
    -piik-orange-ripple: rgba(255, 145, 0, 0.77);


    -white-high-emphasis: rgba(255, 255, 255, 1.00);
    -white-medium-emphasis: rgba(255, 255, 255, 0.70);
    -white-disabled: rgba(255, 255, 255, 0.50);
    -white-inactive: rgba(255, 255, 255, 0.54);

    -black-high-emphasis: rgba(0, 0, 0, 0.80);
    -black-medium-emphasis: rgba(0, 0, 0, 0.60);
    -black-disabled: rgba(0, 0, 0, 0.38);
    -black-inactive: rgba(0, 0, 0, 0.54);
    -black-selection: rgba(235, 235, 235, 0.5);

    -color-surface-post: #FAFAFA;
    -color-surface-app-ui: #ebebeb;

    -color-surface-snackbar: #202020;
    -color-error: #FF0C3E;
}



/* Decorator */
.jfx-decorator {
    -fx-decorator-color: -primary-color-5;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}


/* Tabs */


.tab {
    -fx-background-color: -primary-color-5;
    -fx-text-fill: -white-high-emphasis;
    -fx-color-label-visible: -white-high-emphasis;
    -fx-cursor: hand;

    -fx-pref-height: 50;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;

    -fx-pref-width: 108;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
}

.tab-header-background {
    -fx-background-color: -primary-color-5;
}

.jfx-tab-pane .headers-region .tab-selected-line {
    -fx-background-color: -white-high-emphasis;
}

.jfx-tab-pane .headers-region .tab:selected .tab-container .tab-label {
    -fx-text-fill: -white-high-emphasis;
}


.jfx-tab-pane .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: -white-medium-emphasis;
}

.jfx-tab-pane .headers-region .tab .tab-container .tab-label {
}


/* Toolbar */

.top-toolbar {
    -fx-pref-height: 50;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-background-color: -primary-color-5;
}

.bottom-toolbar {
    -fx-pref-height: 20;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-background-color: -primary-color-5;
}


/* Buttons */

.classic-button {
    -fx-text-fill: -white-high-emphasis;
}

.button-colored {
    -fx-text-fill: -white-high-emphasis;
    -fx-background-color: -primary-color-5;
    -fx-cursor: hand;
}


.deck-button {
    -fx-background-color: -primary-color-5;
    -jfx-button-type: RAISED;
    -fx-text-fill: -white-high-emphasis;
    -fx-background-radius: 70;
    -fx-pref-width: 70;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-pref-height: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-cursor: hand;
}

.deck-button:hover {
    -fx-scale-y: 1.15;
    -fx-scale-x: -fx-scale-y;
}

.deck-button-graphic {
    -fx-scale-x: 1.65;
    -fx-scale-y: -fx-scale-x;
    -fx-fill: -white-high-emphasis;
}

.hamburguer-button {
    -fx-cursor: hand;
}

.rippler-hamburguer {
    -jfx-rippler-fill: -black-medium-emphasis;
}


/* Deck */
.deck-container {
    -fx-background-color: -white-high-emphasis;
    -fx-pref-height: 65;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-border-color: -color-surface-app-ui;
}

.deck-hitbox {
    -fx-pref-height: 105;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
}

.deck-small-button {
    -fx-cursor: hand;
    -fx-background-radius: 30;
    -fx-pref-width: 30;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-pref-height: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
}

.deck-small-button-container {
    -fx-padding: 20 10 20 10;
}

.hamburguer-space {
    -fx-padding: 0 10 0 10;
}

.deck-small-button-graphic {
    -fx-fill: -black-medium-emphasis;
    -fx-scale-x: 0.8;
    -fx-scale-y: -fx-scale-x;
}

/* TextFields and TextAreas*/

.piik-text-field {
    -fx-background-color: -black-selection;
    -jfx-focus-color: -primary-color-5;
    -jfx-unfocus-color: -jfx-focus-color;
}


/* Post cards */

.post-container {
    -fx-pref-width: 450;
    /*-fx-pref-height: 100;*/
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-background-color: -white-high-emphasis;
    -fx-effect: dropshadow(gaussian, #515151, 20, 0.001, 0, 3);
    -fx-padding: 17 0 17 0;
    -fx-alignment: CENTER;
}

.post-inner-container {
    -fx-padding: 0 17 0 15;
}

.post-text {
    -fx-padding: 10 17 10 17;
    /*-fx-background-color: #cacacaca;*/
}

.event-container {
    -fx-pref-width: 430;
    /*-fx-pref-height: 100;*/
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-background-color: -white-high-emphasis;
    -fx-padding: 20 20 20 20;
    -fx-alignment: CENTER;
}


.profile-pic {
    -fx-background-radius: 80;
    -fx-border-radius: 40;
    -fx-pref-width: 40;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-pref-height: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-cursor: hand;
    /*-fx-background-color: #cacaca;*/
    -fx-background-image: url('/imagenes/huevo.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40 40;
}

/* Alerts */
.accept-dialog-button {
    -fx-text-fill: #1B1B1E;
    -fx-font-weight: BOLD;
    -fx-padding: 0.7em 0.8em;
    -fx-cursor: hand;
}


.alert-title {
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.alert-text {
    -fx-font-size: 15;
}

/* User profiles */

.profile-post-feed {
    /*-fx-pref-height: 600;*/
    -fx-pref-width: 450;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    /*-fx-min-height: -fx-pref-height;*/
    /*-fx-max-height: -fx-pref-height;*/
}

.profile-preview {
    -fx-effect: innershadow(gaussian, #515151, 5, 0.001, 0, 0);
}


.profile-preview:hover {
    -fx-effect: innershadow(gaussian, #515151, 50, 0.1, 0, 0);
    -fx-cursor: hand;
}


/* Messages */

.message-preview-container {
    -fx-pref-width: 430;
    -fx-pref-height: 60;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    /*-fx-background-color: -white-high-emphasis;*/
    /*-fx-border-radius: 0 0 1 0;*/
    /*-fx-border-color: -black-inactive;*/
    -fx-padding: 0 0 0 0;
    -fx-alignment: CENTER;
    -fx-cursor: hand;
}

.message-preview-container:hover {
    -fx-background-color: -black-selection;
}


.message-body-container {
    -fx-background-radius: 3;
    -fx-background-color: -white-medium-emphasis;
    -fx-max-width: 300;
    -fx-min-width: 300;
    -fx-padding: 10 10 10 10;
}

/* Events */
.event-preview-container {
    -fx-pref-width: 430;
    -fx-pref-height: 40;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    /*-fx-background-color: -white-high-emphasis;*/
    /*-fx-border-radius: 0 0 1 0;*/
    /*-fx-border-color: -black-inactive;*/
    -fx-padding: 0 0 0 0;
    -fx-alignment: CENTER;
    -fx-cursor: hand;
}

.event-preview-container:hover {
    -fx-background-color: -black-selection;
}


/* Search */

.scroll-pane:focused {
    -fx-faint-focus-color: transparent;
    /*-fx-background-insets: 0, 0 0 1 0;*/
    -fx-focus-color: -primary-color-5;
}

.search-users-scroll {
    /*-fx-pref-height: 60;*/
    -fx-pref-width: 350;
    /*-fx-min-width: -fx-pref-width;*/
    /*-fx-max-width: -fx-pref-width;*/
    -fx-background-color: -black-disabled;
    /*-fx-min-height: -fx-pref-height;*/
    /*-fx-max-height: -fx-pref-height;*/
    /*-fx-background-color: #cacacaca;*/
}

.search-users-masonry {
    -fx-min-height: 60;
    -fx-pref-height: 60;
    -fx-max-height: 60;
    -fx-min-width: 350;
}

.trending-button {
    -jfx-button-type: RAISED;
    -fx-background-color: -piik-yellow-mustard;
    -fx-background-radius: 60;
    -fx-pref-width: 60;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-pref-height: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-cursor: hand;
}

.trending-button:hover {
    -fx-scale-y: 1.15;
    -fx-scale-x: -fx-scale-y;
}

/* ScrollBar */

.scroll-bar:hover {
    -fx-cursor: hand;
}

.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color: -black-selection;
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: -primary-color-5;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button {
    -fx-padding: 2 5 2 5;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -primary-color-5;
}

.scroll-bar > .increment-button > .increment-arrow {
    -fx-shape: "M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z";
}

.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-shape: "M1427 301l-531 531 531 531q19 19 19 45t-19 45l-166 166q-19 19-45 19t-45-19l-742-742q-19-19-19-45t19-45l742-742q19-19 45-19t45 19l166 166q19 19 19 45t-19 45z";
}


/* Hashtags */

.hashtags-view {
    -fx-pref-height: 45;
    -fx-min-width: 445;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
}

.hashtag-preview-container {
    -fx-padding: 2 2 2 2;
    -fx-pref-height: 25;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    /*-fx-pref-width: 35;*/
    -fx-min-width: 45;
    -fx-max-width: 100;
    -fx-background-color: -black-disabled;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.hashtag-preview-label {
    -fx-text-fill: -white-high-emphasis;
    -fx-padding: 2 2 2 2;
}

.hashtag-editor {
    -fx-padding: 10 10 10 10;
    -fx-border-radius: 1;
    -fx-border-color: -black-disabled;
    /*-fx-background-color: -white-medium-emphasis;*/
}
